body {
  margin: auto;
  background-image: url(./images/pexels-ibrahim-hafeez-3.jpg);
  height: auto;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'cocogooseregular';
  src:
    url('./fonts/cocogoose_pro-trial-webfont.woff2') format('woff2'),
    url('./fonts/cocogoose_pro-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato', sans-serif;
}

.hamburger {
  height: 30px;
  width: 30px;
  padding: 15px;
}

.nav1,
.nav2 {
  display: flex;
  flex-direction: row;
}

.nav1 {
  justify-content: flex-end;
  background-color: #4e4e4e;
  font-size: 16px;
}

.social-icons {
  height: 15px;
  width: 15px;
  padding-top: 5px;
  padding-left: 10px;
}

.navlinks1,
.navlinks2 {
  margin-left: 200px;
  margin-right: 200px;
}

.navlinks1 {
  padding-bottom: 10px;
  padding-right: 60px;
}

a {
  text-decoration: none;
}

span {
  padding: 10px;
}

.top-text {
  color: white;
}

.nav2 {
  justify-content: space-evenly;
  background-color: white;
}

.nav-logo {
  height: 50px;
  width: 150px;
  margin-left: 50px;
  padding-top: 5px;
}

.navlinks2 {
  padding-left: 50px;
  padding-top: 20px;
}

.bottom-text {
  color: black;
}

.about {
  color: #ec5242;
}

.campaign-btn {
  border: 5px solid #ec5242;
  background-color: white;
  padding: 10px;
  color: #ec5242;
  margin-bottom: 10px;
}

.header-content {
  margin-left: 100px;
  margin-right: 300px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Lato', sans-serif;
  color: white;
}

.creative {
  font-family: 'cocogooseregular';
  font-size: 60px;
  background: url(./images/pexels-steve-johnson-1085685.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.box-text,
.date,
.location {
  font-weight: bold;
}

.box-text {
  border: 2px solid white;
  padding: 20px;
  margin-right: 300px;
}

.date {
  font-size: 30px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .nav1,
  .nav2 {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
}
